/* http://www.menucool.com */
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
#sliderFrame,
#sliderFrame div {
  box-sizing: content-box;
}
@media (min-width: 768px) {
  #sliderFrame {
    width: 600px;
    margin: 0 auto;
    /*center-aligned*/
  }
  #slider,
  #slider .sliderInner {
    width: 600px;
    height: 400px;
    /* Must be the same size as the slider images */
  }
}
@media (max-width: 768px) and (min-width: 441px) {
  #sliderFrame {
    width: 400px;
    margin: 0 auto;
    /*center-aligned*/
  }
  #slider2,
  #slider2 .sliderInner {
    width: 400px;
    height: 267px;
    /* Must be the same size as the slider images */
  }
}
@media (max-width: 440px) {
  #sliderFrame {
    width: 270px;
    margin: 0 auto;
    /*center-aligned*/
  }
  #slider3,
  #slider3 .sliderInner {
    width: 270px;
    height: 150px;
    /* Must be the same size as the slider images */
  }
}
.slider {
  background-color: white;
  position: relative;
  margin: 0 auto;
  /*center-aligned*/
  transform: translate3d(0, 0, 0);
  box-shadow: 0px 1px 5px #999999;
}
/* the link style (if an image is wrapped by a link) */
.slider a.imgLink,
.slider .video {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.slider .video {
  background: transparent url(video.png) no-repeat 50% 50%;
}
/* Caption styles */
.slider .mc-caption {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 10px 0;
  /* 10px will increase the height.*/
  left: 0px;
  bottom: 0px;
  top: auto;
  overflow: hidden;
  font: bold 14px/20px Arial;
  color: #EEE;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}
.slider .mc-caption a {
  color: #FB0;
}
.slider .mc-caption a:hover {
  color: #DA0;
}
/* ------ built-in navigation bullets wrapper ------*/
.slider .navBulletsWrapper {
  top: 320px;
  text-align: center;
  background: none;
  position: relative;
  z-index: 3;
}
/* each bullet */
.slider .navBulletsWrapper div {
  width: 11px;
  height: 11px;
  font-size: 0;
  color: White;
  /*hide the index number in the bullet element*/
  background: transparent url(bullet.png) no-repeat 0 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;
  cursor: pointer;
  margin: 0 6px;
  /* set distance between each bullet*/
}
.slider .navBulletsWrapper .active {
  background-position: 0 -11px;
}
/* --------- Others ------- */
.slider img,
#slider > b,
.slider a > b {
  position: absolute;
  border: none;
  display: none;
}
.slider .sliderInner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#slider > a,
.slider video,
.slider audio {
  display: none;
}
.slider div {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@font-face {
  font-family: 'Amatic';
  src: url('../fonts/AmaticSC-Regular.ttf');
  src: local('?'), url('../fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amatic';
  src: url('../fonts/AmaticSC-Regular.ttf');
  src: local('?'), url('../fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html,
body {
  font-family: 'Rajdhani', sans-serif;
  height: 100%;
  width: 100%;
}
hr {
  border-color: #780001;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #780001;
}
a:hover,
a:focus {
  color: #450001;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #780001;
}
.bg-dark {
  background-color: #282828;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(40, 40, 40, 0.05);
  font-family: Amatic, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #780001;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #450001;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #282828;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
  color: #060606;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #780001;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #780001 !important;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    height: 110px;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .main-menu {
    padding-top: 22px;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #393939;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: rgba(57, 57, 57, 0.7);
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(40, 40, 40, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #780001;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #450001;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #282828;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #780001;
  }
}
@media (max-width: 768px) {
  .navbar-default .main-menu li {
    text-align: center;
    padding: 5px;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/paper-bg.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(120, 0, 1, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #780001;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #282828;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #282828;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #282828;
}
.btn-primary {
  color: white;
  background-color: #780001;
  border-color: #780001;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #5f0001;
  border-color: #540001;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #780001;
  border-color: #780001;
}
.btn-primary .badge {
  color: #780001;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #282828;
}
::selection {
  color: white;
  text-shadow: none;
  background: #282828;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #282828;
}
.social-img {
  display: block;
  /* TRANSITION */
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (min-width: 1681px) {
  .social-img {
    height: 56px;
    width: 60px;
  }
}
@media (max-width: 1680px) {
  .social-img {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1299px) {
  #under {
    display: block !important;
  }
}
@media (min-width: 1299px) {
  #under {
    display: none !important;
  }
}
@media (max-width: 768px) {
  #under {
    display: block !important;
    text-align: center;
  }
  #under li {
    display: inline-block !important;
  }
  #under a {
    padding: 6px 10px;
  }
}
@media (max-width: 399px) {
  #under a {
    padding: 6px 5px;
  }
}
@media (max-width: 768px) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 380px;
    background: rgba(255, 255, 255, 0.95);
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
#right {
  padding-top: 10px;
}
@media (max-width: 1299px) {
  #right {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  #right {
    display: block !important;
  }
}
.social-img:hover {
  background: transparent;
  display: block;
  background-size: cover;
  /* TRANSITION */
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
@media (min-width: 1681px) {
  .social-img:hover {
    height: 56px;
    width: 60px;
  }
}
@media (max-width: 1680px) {
  .social-img:hover {
    height: 40px;
    width: 40px;
  }
}
#fb {
  background-image: url('../img/social/FB-out.png');
}
#fb:hover {
  background-image: url('../img/social/FB-on.png');
}
#bit:hover {
  background-image: url('../img/social/BIT_on.png');
}
#bit {
  background-image: url('../img/social/BIT_out.png');
}
#bz:hover {
  background-image: url('../img/social/BZ_on.png');
}
#bz {
  background-image: url('../img/social/BZ_out.png');
}
#insta:hover {
  background-image: url('../img/social/INSTA_on.png');
}
#insta {
  background-image: url('../img/social/INSTA_out.png');
}
#twitter:hover {
  background-image: url('../img/social/TWITTER_on.png');
}
#twitter {
  background-image: url('../img/social/twitter_out.png');
}
#yt:hover {
  background-image: url('../img/social/YT_on.png');
}
#yt {
  background-image: url('../img/social/YT_out.png');
}
@media (min-width: 1024px) {
  .video {
    width: 853px;
    height: 480px;
    margin-top: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .video {
    width: 640px;
    height: 360px;
    margin-top: 120px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .video {
    width: 520px;
    height: 290px;
  }
}
@media (min-width: 520px) and (max-width: 639px) {
  .video {
    width: 480px;
    height: 270px;
  }
}
@media (min-width: 480px) and (max-width: 519px) {
  .video {
    width: 440px;
    height: 245px;
  }
}
@media (min-width: 350px) and (max-width: 479px) {
  .video {
    width: 320px;
    height: 180px;
  }
}
@media (min-width: 320px) and (max-width: 349px) {
  .video {
    width: 300px;
    height: 170px;
  }
}
@media (max-width: 319px) {
  .video {
    width: 270px;
    height: 150px;
  }
}
.img-circle {
  width: 70%;
  height: 70%;
}
/* Icon 1 */
#nav-icon {
  width: 45px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #780001;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 15px;
}
#nav-icon span:nth-child(4) {
  top: 30px;
}
#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navbar-toggle,
.navbar-toggle:hover {
  border: none;
  background: transparent !important;
}
@media (min-width: 769px) {
  .navbar-brand img {
    max-width: 100px;
    margin-top: -7px;
  }
}
@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 60px;
    margin-top: -7px;
  }
}
@media (min-width: 768px) {
  .slider7 {
    display: block;
  }
  .slider47 {
    display: none;
  }
  .slider34 {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 441px) {
  .slider7 {
    display: none;
  }
  .slider47 {
    display: block;
  }
  .slider34 {
    display: none;
  }
}
@media (max-width: 440px) {
  .slider7 {
    display: none;
  }
  .slider47 {
    display: none;
  }
  .slider34 {
    display: block;
  }
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
@media (min-width: 769px) {
  #bio ul {
    list-style: disc;
  }
  #bio li {
    line-height: 200%;
    font-family: Amatic;
    font-size: 40px;
  }
  #bio p {
    text-align: justify;
  }
}
@media (max-width: 1199px) {
  #bio ul {
    text-align: center;
    list-style: none;
  }
  #bio li {
    line-height: 130%;
    font-family: Amatic;
    font-size: 25px;
  }
  #bio p {
    text-align: center;
  }
}
.text-muted {
  color: #FFF;
  text-align: center !important;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
