@import "variables.less";
@import "mixins.less";
@import "scroll.less";


@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@font-face {
    font-family: 'Amatic';
    src: url('../fonts/AmaticSC-Regular.ttf');
    src: local('?'), url('../fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic';
    src: url('../fonts/AmaticSC-Regular.ttf');
    src: local('?'), url('../fonts/AmaticSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



// Global Components
html,
body {
    font-family: 'Rajdhani', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    //.serif-font;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
        color: darken(@theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @gray-darker;
    color: white;
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: fade(@gray-darker, 5%);
    font-family: Amatic, sans-serif;
    .transition-all;
    .navbar-header .navbar-brand {
        color: @theme-primary;
        .sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-weight: 700;
        font-size: 12px;
        color: @gray-darker;
        text-transform: uppercase;
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 38px;
                color: @gray-base;
                &:hover {
                    color: @theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: @theme-primary !important;
                    //background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        .main-menu
        {
            padding-top: 22px;
        }
        //background-color: transparent;
        height: 110px;
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            //color: fade(white, 70%);
            color: fade(@gray-dark, 100%);
            &:hover {
                color:fade(@gray-dark, 70%)
            }
        }
        &.affix {
            background-color: white;
            border-color: fade(@gray-darker, 5%);
            .navbar-header .navbar-brand {
                color: @theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken(@theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: @gray-darker;
                &:hover {
                    color: @theme-primary;
                }
            }
        }
    }
    @media (max-width: 768px) {
        .main-menu
        {
            //background: rgba(222, 225, 222, 0.85);
        }
        .main-menu li
        {
            text-align: center;
            padding: 5px;
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    .background-cover;
    background-position: center;
    background-image: url('../img/paper-bg.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(black, 70%);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                h1 {
                    font-size: 50px;
                }
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: fade(@theme-primary, 90%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                .sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    &:focus {
        outline: none;
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    .button-variant(@gray-darker;white;white);
}

.btn-primary {
    .button-variant(white;@theme-primary;@theme-primary);
}

.btn {
    .sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @gray-darker;
}

.social-img
{
    display: block;

    @media (min-width: 1681px) {
        height: 56px;
        width: 60px;
    }

    @media (max-width: 1680px) {
        height: 40px;
        width: 40px;
    }



        /* TRANSITION */
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
    -webkit-background-size:cover;
    background-size:cover;;




}

#under
{
    @media (min-width: 769px) and (max-width: 1299px) {
        display: block !important;

    }
    @media (min-width: 1299px) {
        display: none !important;
    }
    @media (max-width: 768px) {
        display: block !important;
        text-align: center;
        li
        {
            display: inline-block !important;
        }

        a{
            padding: 6px 10px;
        }
    }
    @media (max-width: 399px) {

        a{
            padding: 6px 5px;
        }
    }
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    @media (max-width: 768px) {
        max-height: 380px;

        background: rgba(255, 255, 255, 0.95);
    }

}

@media (min-width: 768px) and (max-width: 1299px)
{
.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
}


#right
{
    @media (max-width: 1299px) {
        display: none !important;
    }
    @media (min-width: 1300px) {
        display: block !important;
    }

    padding-top: 10px;
}

.social-img:hover
{
    background: transparent;
    display: block;

    @media (min-width: 1681px) {
        height: 56px;
        width: 60px;
    }

    @media (max-width: 1680px) {
        height: 40px;
        width: 40px;
    }
    background-size:cover;;
    /* TRANSITION */
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

#fb
{
    background-image: url('../img/social/FB-out.png');
}
#fb:hover
{
    background-image: url('../img/social/FB-on.png');
}

#bit:hover
{
    background-image: url('../img/social/BIT_on.png');
}
#bit
{
    background-image: url('../img/social/BIT_out.png');
}

#bz:hover
{
    background-image: url('../img/social/BZ_on.png');
}
#bz
{
    background-image: url('../img/social/BZ_out.png');
}

#insta:hover
{
    background-image: url('../img/social/INSTA_on.png');
}
#insta
{
    background-image: url('../img/social/INSTA_out.png');
}

#twitter:hover
{
    background-image: url('../img/social/TWITTER_on.png');
}
#twitter
{
    background-image: url('../img/social/twitter_out.png');
}

#yt:hover
{
    background-image: url('../img/social/YT_on.png');
}
#yt
{
    background-image: url('../img/social/YT_out.png');
}

.video
{

    //@media (min-width: 1024px) {
    //    width: 853px;
    //    height: 480px;
    //}
    @media (min-width: 1024px) {
        width: 853px;
        height: 480px;
        margin-top: 120px;
    }
    //@media (max-width: 1023px) {
    //    width: 640px;
    //    height: 360px;
    //}
    @media (min-width: 768px) and (max-width: 1023px) {
        width: 640px;
        height: 360px;
        margin-top: 120px;
    }
    @media (min-width: 640px) and (max-width: 767px) {
        width: 520px;
        height: 290px;
    }
    @media (min-width: 520px) and (max-width: 639px) {
        width: 480px;
        height: 270px;
    }
    @media (min-width: 480px) and (max-width: 519px) {
        width: 440px;
        height: 245px;
    }
    @media (min-width: 350px) and (max-width: 479px) {
        width: 320px;
        height: 180px;
    }
    @media (min-width: 320px) and (max-width: 349px) {
        width: 300px;
        height: 170px;
    }
    @media (max-width: 319px) {
        width: 270px;
        height: 150px;
    }
}

.img-circle
{
    width: 70%;
    height: 70%;
}





/* Icon 1 */

#nav-icon {
    width: 45px;
    height: 40px;
    position: relative;
    //margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

 #nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: @theme-primary;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 15px;
}

#nav-icon span:nth-child(4) {
    top: 30px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navbar-toggle, .navbar-toggle:hover
{
    border: none;
    background: transparent !important;
}

.navbar-brand img
{
    @media (min-width: 769px) {
        max-width:100px;
        margin-top: -7px;
        
    }
    @media (max-width: 768px) {
        max-width:60px;
        margin-top: -7px;

    }
}

@media (min-width: 768px) {
    .slider7
    {
        display: block;
    }
    .slider47
    {
        display: none;
    }
    .slider34
    {
        display: none;
    }
}
@media (max-width: 768px) and  (min-width: 441px) {
    .slider7
    {
        display: none;
    }
    .slider47
    {
        display: block;
    }
    .slider34
    {
        display: none;
    }
}
@media (max-width: 440px) {
    .slider7
    {
        display: none;
    }
    .slider47
    {
        display: none;
    }
    .slider34
    {
        display: block;
    }
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
 //margin-right: 0px !important;
 //margin-left: 0px !important;;
}

.row
{
    margin-right: 0px !important;
    margin-left: 0px !important;;
}

#bio
{
    @media (min-width: 769px) {

            ul {
                list-style: disc;
            }
            li {
                line-height: 200%;
                font-family: Amatic;
                font-size: 40px;
            }
                p
        {
            text-align: justify;
        }
    }
    @media (max-width: 1199px) {

            ul {
                text-align: center;
                list-style: none;
            }
            li {
                line-height: 130%;
                font-family: Amatic;
                font-size: 25px;
            }
        p
        {
            text-align: center;
        }
    }
}



.text-muted
{
    color: #FFF;
    text-align: center !important;
}

.container-fluid {
     padding-right: 0px;
    padding-left: 0px;
}